[Desktop Entry]
Version=0.1
Type=Application
Terminal=false
Name[en_GB]=MacHPSDR
Exec=machpsdr
Icon=machpsdr
Name=MacHPSDR
Categories=HamRadio;Audio;Science;
Comment=SDR control application for HPSDR and SoapySDR hardware
