[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_GB]=MacHPSDR
Exec=machpsdr
Icon=machpsdr
Name=MacHPSDR
Categories=AudioVideo;Audio;HamRadio;
Comment=SDR control application for HPSDR and SoapySDR hardware
